@import "images.css";
:root{
  --cellBorder:3.5px;
  --cellSize:35px;
  --lightBorder:#ffffff;
  --darkBorder:#555555;
  --container:#c6c6c6;
  --cellColor:#8b8b8b;
}
tbody{
  display:block;
}
table{
  background-color:var(--container);
  border-spacing:var(--cellBorder);
  border-top:var(--cellBorder) solid var(--lightBorder);
  border-left:var(--cellBorder) solid var(--lightBorder);
  border-right:var(--cellBorder) solid var(--darkBorder);
  border-bottom:var(--cellBorder) solid var(--darkBorder);
}
td{
  background-color:var(--cellColor);
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  image-rendering:pixelated;
  border-bottom:var(--cellBorder) solid var(--lightBorder);
  border-right:var(--cellBorder) solid var(--lightBorder);
  border-top:var(--cellBorder) solid var(--darkBorder);
  border-left:var(--cellBorder) solid var(--darkBorder);
  height:var(--cellSize);
  width:var(--cellSize);
}
.process{
  background-color:transparent;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  border:var(--cellBorder) solid var(--container);
}
.empty{
  background-color:transparent;
  border:var(--cellBorder) solid var(--container);
}
.linkWrapper{
  width:50%;
  display:flex;
  justify-content:center;
  align-items:center;
  user-select:none;
}
.linkWrapper:has(table){
  width:auto;
}
.craftingTitle{
  font-size:0;
  opacity:0;
}
.pageLink:has(table){
  justify-content:center;
  width:auto;
  height:auto;
  border:none;
  cursor:initial;
}
.pageLink:has(table):hover{
  border:none;
}
.resAmt{
  display:block;
  color:white;
  filter:drop-shadow(2px 2px 0px black);
  font-size:11px;
  translate:0px 60%;
  text-align:right;
}

.crafting{ background-image:var(--craftingIcon); }
.brewing{ background-image:var(--brewingIcon); }
.smelting{ background-image:var(--smeltingIcon); }
.stonecutting{ background-image:var(--stonecuttingIcon); }
.smithing{ background-image:var(--smithingIcon); }

@media only screen and (max-width:750px){
  article{
    width:95vw;
  }
  .contentSection{
    width:95vw;
  }
}
@media only screen and (max-width:590px){
  .headerText{
    display:none;
  }
  .headerAlt{
    display:flex;
  }
}