@keyframes cellHover{
  from{ background-position:100%; }
  to{ background-position:0%; }
}
:root{
  --mainHue:150;
  --mainSat:95%;
  --mainLig:35%;
}
*::-webkit-scrollbar {
  display:none;
}
*{
  font-family:Monospace;
}
html{
  height:100vh;
}
body{
  margin:0px;
  display:flex;
  background-image:linear-gradient(to bottom, hsl(0, 0%, 5%), hsl(var(--mainHue), 10%, 25%));
  overflow:hidden;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
header{
  height:10vw;
  width:100%;
  margin:60px 0px;
  background-image:url('../../images/icons/title_mcmenagerie.png');
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
}
section{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  width:80%;
}

.cell{
  color:hsl(var(--mainHue), var(--mainSat), var(--mainLig));
  text-decoration:none;
  isolation:isolate;
  position:relative;
  border:3px solid hsl(var(--mainHue), var(--mainSat), 25%);
  cursor:pointer;
  padding:20px;
  width:300px;
  margin:10px;  
  display:flex;
  font-size:15px;
  justify-content:center;
  align-items:center;
  background-image:linear-gradient(to bottom right, hsl(var(--mainHue), var(--mainSat), var(--mainLig), 0.5), hsl(var(--mainHue), 10%, 25%, 0.5));
  clip-path:polygon(25px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 25px);
}
.cell:hover{
  border:3px solid hsl(var(--mainHue), var(--mainSat), var(--mainLig));
}
.cell::before{
  content:'';
  position:absolute;
  padding:20px;
  height:60px;
  width:300px;
  margin:10px; 
  background-image:linear-gradient(45deg, transparent, transparent, transparent, transparent, transparent, hsl(var(--mainHue), 100%, 80%, 0.5), transparent, transparent, transparent, transparent, transparent);
  background-size:500% 500%;
  background-position:100%;
}
.cell:hover::before{
  animation-name:cellHover;
  animation-duration:0.55s;
}
.author{
  margin-block:0px;
  font-weight:bold;
  color:#052e22;
  position:absolute;
  translate:0px 16px;
  font-size:13px;
  opacity:0;
  transition:opacity 0.35s ease;
}
.cell:hover .author{
  opacity:1;
}